atomicwrites==1.4.0
attrs==19.3.0
colorama==0.4.3
more-itertools==8.2.0
pandoc==1.0.2
pluggy==0.13.1
ply==3.11
py==1.8.1
pypandoc==1.5
pytest==4.3.1
pytest-runner==4.4
six==1.14.0
-e git+https://github.com/NishitSingh2023/test@e43a528b398a7abe37c817fa4740c6be34562238#egg=titanic
