appdirs==1.4.3
atomicwrites==1.4.0
attrs==19.3.0
Click==7.0
colorama==0.4.3
distlib==0.3.0
filelock==3.0.12
more-itertools==8.2.0
pbr==5.4.5
pluggy==0.13.1
py==1.10.0
pytest==4.3.1
pytest-runner==4.4
six==1.14.0
stevedore==1.32.0
virtualenv==20.0.20
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
virtualenvwrapper-win==1.2.6
